<!-- diemthi/templates/diemthi/student_detail.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi tiết thí sinh</title>
</head>
<body>
    <h1>Chi tiết thí sinh: {{ student.sbd }}</h1>
    <ul>
        <li>Điểm Toán: {{ student.toan }}</li>
        <li>Điểm Ngữ Văn: {{ student.ngu_van }}</li>
        <li>Điểm Ngoại Ngữ: {{ student.ngoai_ngu }}</li>
        <li>Điểm Vật Lý: {{ student.vat_li }}</li>
        <li>Điểm Hóa Học: {{ student.hoa_hoc }}</li>
        <li>Điểm Sinh Học: {{ student.sinh_hoc }}</li>
        <li>Điểm Lịch Sử: {{ student.lich_su }}</li>
        <li>Điểm Địa Lý: {{ student.dia_li }}</li>
        <li>Điểm Giáo Dục Công Dân: {{ student.gdcd }}</li>
        <li>Mã Ngoại Ngữ: {{ student.ma_ngoai_ngu }}</li>
    </ul>
    <a href="{% url 'search_student' %}">Quay lại</a>
</body>
</html>
